@page "/"
@inject ParOverlayService OverlayService
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h1 @onclick="ToggleModal">Hello, world!</h1>

<ParModal @bind-Show="_isOpen">
    <h2>Modal Content Here</h2>
</ParModal>

Welcome to your new app.

@code {
    private bool _isOpen = true;

    public void ToggleModal()
    {
        _isOpen = !_isOpen;
    }


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}